/* Pour toutes les sections */
section {
  width: 100%;
  padding-top: 5rem;   /* permet d'avoir ma 2eme section en dessous de la navbar */
}

.titleSection, .project{
  text-align: center;
  color: #193158;
  font-weight: bold;
}

.project {
  border: 1px solid #193158;
  background-color: rgba(127, 158, 207, 0.5);
  font-size: x-large;
  text-align: center;
  margin-top: 1rem;
  padding: 2rem;
}

/* Partie HTML */
#html {
  /* permet d'avoir ma 1ere section en dessous de la navbar */
  padding-top: 5rem;
}

.titleExercise {
  color: #42994e;
  font-weight: bold;
}
.borderExercise {
  border: 1px solid black;
  margin-bottom: 5rem;
}

.image {
  width: auto;
  background-repeat: no-repeat;
  height: 15rem;
}

.exerciseThreeHtml {
  background-image: url(../img/exo3html.png);
  background-position: center;
}

.exerciseFourHtml {
  background-image: url(../img/exo4html.png);
  height: 10rem;
  background-position: center;
}

.exerciseFiveHtml {
  background-image: url(../img/exo5html.png);
  background-position: center;
}

.exerciseSixHtml {
  background-image: url(../img/exo6html.png);
  height: 30rem;
  background-position: center;
}

.exerciseSevenHtml {
  background-image: url(../img/exo7html.png);
  height: 40rem;
}

.styleCode {
  background-color: black;
  color: white;
  margin: 0;
  padding-top: 1rem;
}

.smallMade h1, .smallMade h2 {
  font-size: large;
}

.smallMade p {
  font-size: small;
}

/* Partie Javascript */
.exerciseOneJavascript {
  background-image: url(../img/exo1javascript.png);
  background-position: center;
}

.exerciseTwoJavascript {
  background-image: url(../img/exo2javascript.png);
  background-position: center;
}

.exerciseThreeJavascript {
  background-image: url(../img/exo3javascript.png);
  background-position: center;
}

.exerciseThreeJavascriptBis {
  background-image: url(../img/exo3javascriptbis.png);
  background-position: center;
}

/* exercice 3 partie 3 */
.color{
  float: left;
  width: 20px;
  height: 20px;
  margin : 5px;
}
.green{
  background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.pink{
    background-color: pink;
}

/* exercice 5 partie 3jquery  */
#square{
  background-color: purple;
  height: 50px;
  width: 50px;
}
